/* Utility */

/* margin */
.u-mt40{
  margin-top: 40px;
}
.u-mb8{
  margin-bottom: 8px;
}
.u-mb10{
  margin-bottom: 10px;
}
.u-mb15{
  margin-bottom: 15px;
}
.u-mb40{
  margin-bottom: 40px;
}
.u-mb60{
  margin-bottom: 60px;
}

/* flex */
.u-alignCenter{
  align-items: center;
}
.u-justifyCenter{
  justify-content: center;
}
.u-flexStart{
  align-items: flex-start;
}

/* height */
.u-heightAuto{
  height: auto;
}

/* font-size */
.u-fz18{
  font-size: 1.125rem;
}
.u-fz26{
  font-size: 1.625rem;
}
.u-fz48{
  font-size: 3rem;
}
