@use '../Foundations/f-base' as base;
@use '../Foundations/f-mixin.scss' as mix;

.p-company{
  .p-greetingImage{
    position: relative;
    text-align: center;
    height: 420px;
    margin-bottom: 40px;
    &__image{
      width: 1100px;
      height: 420px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__text{
      position: absolute;
      right: 24px;
      bottom: 16px;
      width: fit-content;
      display: inline-block;
      margin-left: 40px;
      text-align: left;
    }
  }
  .p-greetingMessage{
    margin-bottom: 1.5em;
  }
}
