@use '../Foundations/f-base' as base;
@use '../Foundations/f-mixin.scss' as mix;

/* mainView */
.p-mainView{
  position: relative;
  font-weight: 400;
  &__image{
    width: 100%;
    object-fit: contain;
    @include mix.mq(tab){
      display: block;
      img{
        width: 100vw;
        height: calc(100vh - 46px);
      }
    }
  }
  &__inner{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
  }
  &__text{
    width: fit-content;
    margin-bottom: 8px;
    padding: 10px;
    color: #fff;
    font-size: clamp(1rem, 0.4403rem + 2.3881vw, 2.5rem);
    background-color: base.$mainColor;
    @include mix.mq(sp){
      font-size: 0.875rem;
    }
  }
  &__subtext{
    width: fit-content;
    padding: 10px;
    font-size: clamp(0.625rem, 0.2985rem + 1.393vw, 1.5rem);
    color: base.$mainColor;
    background: #fff;
  }
  &__en{
    position: absolute;
    bottom: -2%;
    width: 100vw;
    text-align: right;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: clamp(1.875rem, -1.242rem + 6.25vw, 6.5rem);
    @include mix.mq(sp){
      display: none;
    }
  }
}

/* p-news */

.p-works{
  &__section{
    margin-bottom: 104px;
  }
}
