@use '../Foundations/f-base' as base;
@use '../Foundations/f-mixin.scss' as mix;

/* footerNav */
.l-footerNav{
  width: 100%;
  @include mix.mq(1000){
    display: none;
  }
  &__inner{
    @include mix.flexRowCenter;
    justify-content: center;
    margin-bottom: 30px;
    &__item{
      padding-right: 18px;
      &::after{
        content:"|";
        padding-left: 18px;
      }
      &:first-of-type{
        padding-left: 0;
      }
      &:last-of-type{
        padding-right: 0;
        &::after{
          content:"";
        }
      }
    }
  }
}

/* footer */
.l-footer{
  position: relative;
  background: base.$mainColor;
  padding: 70px 40px;
  color: #fff;
  @include mix.mq(pc){
    padding: 70px 16px;
  }
  @include mix.mq(sp){
    padding: 18px 16px;
  }
  &__inner{
    @include mix.flexRowToColumn;
    justify-content: flex-start;
  }
  &__company{
    margin-right: 180px;
    .c-logo{
      padding-left: 0;
      margin-bottom: 60px;
      @include mix.mq(sp){
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img{
        @include mix.mq(sp){
          width: 80px;
          height: auto;
        }
      }
    }
    @include mix.mq(sp){
      margin-right: 0;
    }
  }
  &__copyright{
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: block;
    width: fit-content;
  }
}

/* bg */
.l-footer__bgImage{
  position: absolute;
  right: 0;
  bottom: 54px;
  width: calc(100% - 30%);
}
