<section class="c-company l-section01">
  <h3 class="c-sectionTitle"><span class="c-sectionTitle__accent">C</span>OMPANY</h3>
  <div class="l-container--m l-flexRowToColumn">
    <div class="c-company__item">
      <a href="#">
        <img src="../images/common/company/company01.jpg" alt="">
        <h4 class="c-company__item__title">ご挨拶</h4>
      </a>
    </div>
    <div class="c-company__item">
      <a href="#">
        <img src="../images/common/company/company02.jpg" alt="">
        <h4 class="c-company__item__title">会社概要</h4>
      </a>
    </div>
    <div class="c-company__item">
      <a href="#">
        <img src="../images/common/company/company03.jpg" alt="">
        <h4 class="c-company__item__title">沿革</h4>
      </a>
    </div>
    <div class="c-company__item">
      <a href="#">
        <img src="../images/common/company/company04.jpg" alt="">
        <h4 class="c-company__item__title">施工・導入実績</h4>
      </a>
    </div>
  </div>
</section>
