<!-- footerNav -->
<nav class="l-footerNav">
  <ul class="l-section--s l-footerNav__inner">
    <li class="l-footerNav__inner__item">
      <a href="../index.html">トップページ</a>
    </li>
    <li class="l-footerNav__inner__item">
      <a href="../company.html">会社案内</a>
    </li>
    <li class="l-footerNav__inner__item">
      <a href="../news.html">ニュース</a>
    </li>
    <li class="l-footerNav__inner__item">
      <a href="../beltconveyor.html">ベルトコンベア事業</a>
    </li>
    <li class="l-footerNav__inner__item">
      <a href="../resycling.html">リサイクル事業</a>
    </li>
    <li class="l-footerNav__inner__item">
      <a href="../other.html">その他事業</a>
    </li>
    <li class="l-footerNav__inner__item">
      <a href="../Recruit.html">採用情報</a>
    </li>
  </ul>
</nav>

<!-- footer -->
<footer class="l-footer">
  <div class="l-footer__inner">

    <!-- company -->
    <div class="l-footer__company">
      <h1 class="c-logo">
        <img src="../images/common/logo.svg" alt="宮村ゴム工業ロゴイメージ" />
        宮村ゴム工業
      </h1>
      <div class="c-location">
        <p>本社</p>
        <address class="c-location__inner">
          <span class="c-location__place">〒815-1132<br>長崎県長崎市小江原1丁目5-12</span>
          <div class="c-location__contact">
            <span class="c-location__contact__tel"><a href="tel:095-845-5485"><img src="../images/common/icon/tel.svg" alt="携帯電話アイコン">095-845-5485</a></span>
            <span class="c-location__contact__fax"><img src="../images/common/icon/fax.svg" alt="FAXアイコン">095-847-3710</a></span>
          </div>
        </address>
      </div>
    </div>

    <!-- sitemap -->
    <div class="c-sitemap">
      <div class="c-sitemap__unity">
        <div class="c-sitemap__unity__item">
          <h5 class="c-sitemap__unity__item__parent"><a href="../beltconveyor.html">ベルトコンベア事業</a></h5>
          <a class="c-sitemap__unity__item__child" href="#">ベルトコンベア関連商品</a>
          <a class="c-sitemap__unity__item__child" href="#">ベルトコンベア関連工事</a>
        </div>
        <div class="c-sitemap__unity__item">
          <h5 class="c-sitemap__unity__item__parent"><a href="../resycling.html">リサイクル事業</a></h5>
          <a class="c-sitemap__unity__item__child" href="#">リサイクル事業について</a>
          <a class="c-sitemap__unity__item__child" href="#">リサイクルラバーマット</a>
          <a class="c-sitemap__unity__item__child" href="#">その他リサイクルゴム</a>
        </div>
        <div class="c-sitemap__unity__item">
          <h5 class="c-sitemap__unity__item__parent"><a href="../other.html">その他事業</a></h5>
          <a class="c-sitemap__unity__item__child" href="#">各種商品</a>
          <a class="c-sitemap__unity__item__child" href="#">ライニング工事</a>
          <a class="c-sitemap__unity__item__child" href="#">その他工事</a>
        </div>
      </div>
      <div class="c-sitemap__unity">
        <div class="c-sitemap__unity__item">
          <h5 class="c-sitemap__unity__item__parent"><a href="../Recruit.html">採用情報</a></h5>
          <a class="c-sitemap__unity__item__child" href="#">メッセージ</a>
          <a class="c-sitemap__unity__item__child" href="#">福利厚生</a>
          <a class="c-sitemap__unity__item__child" href="#">教育・研修制度</a>
          <a class="c-sitemap__unity__item__child" href="#">先輩の声</a>
          <a class="c-sitemap__unity__item__child" href="#">求人概要</a>
        </div>
      </div>
      <div class="c-sitemap__unity">
        <div class="c-sitemap__unity__item">
          <h5 class="c-sitemap__unity__item__parent"><a href="../company.html">会社案内</a></h5>
          <a class="c-sitemap__unity__item__child" href="#">ご挨拶</a>
          <a class="c-sitemap__unity__item__child" href="#">会社概要</a>
          <a class="c-sitemap__unity__item__child" href="#">沿革</a>
          <a class="c-sitemap__unity__item__child" href="#">施工・導入実績</a>
        </div>
        <div class="c-sitemap__unity__item">
          <h5 class="c-sitemap__unity__item__parent"><a href="#">お問い合わせ</a></h5>
        </div>
      </div>
    </div>
  </div>
  <small class="l-footer__copyright">&copy; 2011 MIYAMURA GOMU KOUGYOU Inc</small>
</footer>
