<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!--OGP-->
    <meta property="og:title" content="宮村ゴム工業" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://www.miyamuragomu.co.jp/" />

    <!--▼ 本番以降時削除-->
    <meta name="robots" content="noindex">
    
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <!-- pageDataのtitle情報を出力 -->
    <title>{{title}}</title>

    <!-- CSSの読み込みを追加 -->
    <link rel="stylesheet" href="./scss/main.scss" />
  </head>
