<header class="l-header">
  <h1 class="c-logo">
    <a href="../index.html">
      <img src="../images/common/logo.svg" alt="宮村ゴム工業ロゴイメージ" />
      宮村ゴム工業
    </a>
  </h1>
  <nav class="l-headerNav" area-labelledby="header-navigation">
    <ul>
      <li class="l-headerNav__li"><a href="../company.html">会社案内</a></li>
      <li class="l-headerNav__li"><a href="../news.html">ニュース</a></li>
      <li class="l-headerNav__li">
        <a href="../beltconveyor.html">ベルトコンベア事業</a>
      </li>
      <li class="l-headerNav__li">
        <a href="../resycling.html">リサイクル事業</a>
      </li>
      <li class="l-headerNav__li"><a href="../other.html">その他事業</a></li>
      <li class="l-headerNav__li"><a href="../recruit.html">採用情報</a></li>
    </ul>
    <div class="l-contactBlock">
      <a class="l-contactBlock__inner" href="../contact.html">
        <span class="l-contactBlock__inner__text">CONTACT</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="18"
          viewBox="0 0 24 18"
        >
          <path
            d="M0,3V21H24V3Zm6.623,7.929L2,16.641V7.183l4.623,3.746ZM2.482,5H21.517L12,12.713,2.482,5Zm5.694,7.188L12,15.287l3.83-3.1L21.442,19H2.663Zm9.208-1.264L22,7.183v9.348l-4.616-5.607Z"
            transform="translate(0 -3)"
            fill="#fff"
          />
        </svg>
      </a>
    </div>
  </nav>
  <div class="c-hamburger js-hamburger">
    <span class="c-hamburger__border"></span>
    <span class="c-hamburger__border"></span>
    <span class="c-hamburger__border"></span>
  </div>
</header>
<nav class="l-spHeaderNav js-spMenu">
  <ul class="l-spHeaderNav__list">
    <li class="l-spHeaderNav__list__item">
      <a href="../index.html">トップページ</a>
    </li>
    <li class="l-spHeaderNav__list__item">
      <a href="../company.html">会社案内</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../company.html?companyGreeting">ご挨拶</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../../company.html?companySummary">会社概要</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../company.html?companyHistory">沿革</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../company.html?companyRecord">施工・導入実績</a>
    </li>
  </ul>
  <ul class="l-spHeaderNav__list">
    <li class="l-spHeaderNav__list__item">
      <a href="../news.html">ニュース</a>
    </li>
    <li class="l-spHeaderNav__list__item">
      <a href="../beltconveyor.html">ベルトコンベヤ事業</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../beltconveyor.html#belt_product">ベルトコンベア関連商品</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../beltconveyor.html#belt_work">ベルトコンベア関連工事</a>
    </li>
  </ul>
  <ul class="l-spHeaderNav__list">
    <li class="l-spHeaderNav__list__item">
      <a href="../resycling.html">リサイクル事業</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../resycling.html#resycling_about">リサイクル事業について</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../resycling.html#resycling_mat">リサイクルラバーマット</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../resycling.html#resycling__other">その他リサイクルゴム</a>
    </li>
  </ul>
  <ul class="l-spHeaderNav__list">
    <li class="l-spHeaderNav__list__item">
      <a href="../other.html">その他事業</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../other.html#other_item">各種商品</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../other.html#other_lining">ライニング工事</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../other.html#other_work">その他工事</a>
    </li>
  </ul>
  <ul class="l-spHeaderNav__list">
    <li class="l-spHeaderNav__list__item">
      <a href="../recruit.html">採用情報</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../recruit.html#recruit_message">メッセージ</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../recruit.html#recruit_option">福利厚生</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../recruit.html#recruit_study">教育・研修制度</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../recruit.html#recruit_vioce">先輩の声</a>
    </li>
    <li class="l-spHeaderNav__list__item--child">
      <a href="../recruit.html#recruit_summary">求人概要</a>
    </li>
  </ul>
  <ul class="l-spHeaderNav__list">
    <li class="l-spHeaderNav__list__item">
      <a href="../contact.html">お問い合わせ</a>
    </li>
  </ul>
</nav>
