<header class="l-header">
  <h1 class="c-logo">
    <a href="../index.html">
      <img src="../images/common/logo.svg" alt="宮村ゴム工業ロゴイメージ" />
      宮村ゴム工業
    </a>
  </h1>
  <nav class="l-headerNav">
    <ul>
      <li class="l-headerNav__li"><a href="../company.html">会社案内</a></li>
      <li class="l-headerNav__li"><a href="../news.html">ニュース</a></li>
      <li class="l-headerNav__li"><a href="../beltconveyor.html">ベルトコンベア事業</a></li>
      <li class="l-headerNav__li"><a href="../resycling.html">リサイクル事業</a></li>
      <li class="l-headerNav__li"><a href="../other.html">その他事業</a></li>
      <li class="l-headerNav__li"><a href="../Recruit.html">採用情報</a></li>
    </ul>
    <div class="l-contactBlock">
      <a class="l-contactBlock__inner" href="#">
        <span class="l-contactBlock__inner__text">CONTACT</span>
        <img
          class="l-contactBlock__inner__img"
          src="../images/common/icon/mail.svg"
          alt="コンタクトページへのリンク"
        />
      </a>
    </div>
  </nav>
</header>
