@use "../Foundations/f-base" as base;
@use "../Foundations/f-mixin.scss" as mix;

.c-breadcrumbs {
  @include mix.flexRowCenter;
  margin-bottom: 60px;
  @include mix.mq(sp) {
    font-size: 0.5rem;
    word-break: keep-all;
    margin-bottom: 40px;
  }
  &__list {
    margin-right: 24px;
    @include mix.mq(sp) {
      margin-right: 0.5rem;
    }
    &__item {
      @include mix.flexRowCenter;
      &::after {
        content: "\03e";
        padding-left: 24px;
        @include mix.mq(sp) {
          padding-left: 0.5rem;
        }
      }
    }
    /* 余分な > を削除 */
    &:last-of-type {
      .c-breadcrumbs__list__item {
        &::after {
          content: "";
        }
      }
    }
  }
  &__homeimage {
    padding-right: 24px;
    @include mix.mq(sp) {
      padding-right: 0.5rem;
    }
  }
}
