@use '../Foundations/f-base' as base;
@use '../Foundations/f-mixin.scss' as mix;

.c-card{
  @include mix.flexColumn;
  max-width: calc(50% - 60px);
  &__image{
    margin-bottom: 32px;
  }
  &__text{
    margin-bottom: 40px;
  }
}
