@use '../Foundations/f-mixin.scss' as mix;

.c-hamburger{
  width: 26px;
  height: 26px;
  display: none;
  position: relative;
  @include mix.mq(tab){
    display: block;
    cursor: pointer;
  }
  &__border{
    display: flex;
    width: 26px;
    border-bottom: 3px solid #fff;
    border-radius: 2px;
    margin-bottom: 8px;
    transition: 0.5s;
    &:nth-of-type(2){
      width: 20px;
    }
    &:nth-of-type(3){
      width: 16px;
      margin-bottom: 0;
    }
    &.active{
      &:nth-of-type(1){
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
      }
      &:nth-of-type(2){
        display: none;
      }
      &:nth-of-type(3){
        position: absolute;
        top: 50%;
        width: 26px;
        transform: rotate(45deg);
      }
    }
  }
}
