@use "../Foundations/f-base" as base;
@use "../Foundations/f-mixin.scss" as mix;

.c-imageWrap {
  @include mix.flexRowCenter;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 35px;
  @include mix.mq(1000) {
    justify-content: center;
  }
}

.c-image {
  width: 100%;
  padding: 40px 0;
  &--fullx500 {
    @extend .c-image;
    height: 500px;
    @include mix.mq(sp) {
      height: 250px;
    }
  }
  &--s {
    width: 410px;
    height: 275px;
    margin-bottom: 40px;
    position: relative;
    @include mix.mq(sp) {
      height: 250px;
    }
  }
  &--twocolumn {
    width: calc((100% - 40px) / 2);
    @include mix.mq(sp) {
      width: calc((100% - 20px) / 2);
      aspect-ratio: 4/3;
    }
  }
  &__title {
    @include mix.flexRowCenter;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: #fff;
    background: base.$mainColor;
  }
  &__text {
    font-weight: 600;
  }
}
