@use '../Foundations/f-mixin.scss' as mix;

.c-logo{
  padding-left: 2.5rem;
  color: #fff;
  @include mix.mq(pc){
    padding-left: 1.875rem;
  }
  @include mix.mq(tab){
    padding-left: 0;
  }
  a{
    font-weight: bold;
    font-size: clamp(0.875rem, 0.5019rem + 1.592vw, 1.875rem);
    word-break: keep-all;
    @include mix.flexRowCenter;
  }
  img{
    width: clamp(2.25rem, 1.084rem + 4.9751vw, 5.375rem);
    padding-right: 0.75rem;
  }
}
