@use '../Foundations/f-base' as base;
@use '../Foundations/f-mixin.scss' as mix;

.c-table{
  @include mix.mq(sp){
    font-size: 0.875rem;
    min-width: 783px;
  }
  thead{
    background: base.$blueGray;
    th{
      padding: 27px 0;
      text-align: center;
      border-right: 1px solid #fff;
      &:last-of-type{
        border-right: none;
      }
    }
  }
  th{
    padding: 27px 0;
    text-align: center;
    font-weight: 400;
    border-right: 1px solid base.$blueGray;
    align-items: center;
    &:first-of-type{
      text-align: left;
      padding-left: 20px;
    }
  }
  td{
    padding: 27px 0;
    text-align: center;
    &:first-of-type{
      text-align: left;
      padding-left: 20px;
    }
  }
}
